body {
  font-family: monospace;
  background: #111;
  color: #ddd;
  padding: 20px;
}

input, select, button {
  background: #222;
  color: #ddd;
  border: 1px solid #444;
  margin: 5px 0;
}

pre {
  margin-top: 20px;
  padding: 10px;
  background: #000;
  white-space: pre-wrap;
}
